<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>hope_website</display-name>
 <distributable/>
 <context-param>
  <param-name>tapestry.app-package</param-name>
  <param-value>com.flowlogix.website</param-value>
 </context-param>
 <filter>
  <description>Tapestry</description>
  <display-name>Hope Filter</display-name>
  <filter-name>hope</filter-name>
  <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>hope</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
</web-app>
