[submodule "herobiz-website-template"]
	path = herobiz-website-template
	url = git@github.com:flowlogix/herobiz-website-template.git
[submodule "jbake-maven"]
	path = jbake-maven
	url = git@github.com:flowlogix/jbake-maven.git
